.login-title {
    text-align: center;
    line-height: 300%;
    color: #f0f8ff!important;
    font-weight: bold;
}

.text-align-left {
    text-align: center;
}

.login-label {
    color: #fff!important;
}

.login-input {
    width: 25rem;
    height: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.login-btn-width {
    width: 7rem;
    margin-top: 1rem;
    background-color: #00008b!important;
    color: #f0f8ff!important;
    border: none;
}

.signup-text-color {
    color: #f0f8ff!important;
    font-weight: bold;
    text-align: center;
}

.span-text-link {
    color: #00008b !important;
    cursor: pointer;
    text-decoration: underline;
}